api/vendor
api/.idea
.env
Homestead.json
Homestead.yaml
.phpunit.result.cache
api/storage/cert
api/storage/logs

api/nginx
api/postgres
.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/node_modules
app/.pnp
.pnp.js

# testing
app/coverage

# production
app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*