
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background: linear-gradient(90deg, #00ffff, #94f17c);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .logo-text {
    color: #ffffff;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #cf6bb6, #97e067);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  

  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

.navbar-item {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1.3rem; 
}

.navbar-item:hover {
  color: #ffeb3b;
}

.username {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3); /* 增加不透明度以提高高亮效果 */
  padding: 5px 10px;
  border-radius: 15px;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* 添加文字阴影以增加可读性 */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 添加发光效果 */
  transition: all 0.3s ease; /* 添加过渡效果 */
}

.username:hover {
  background-color: rgba(255, 255, 255, 0.4); /* 悬停时增加高亮效果 */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); /* 悬停时增强发光效果 */
}
